*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  min-height: 100%; }

body {
  margin: 0;
  min-height: 100%; }

.page-wrap {
  min-width: 320px;
  max-width: 1024px; }

.site-header {
  width: 100%; }
  .site-header__logo {
    display: block;
    height: 220px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    left: -4.88281%; }
  .site-header__background {
    display: block;
    width: 100%;
    padding-top: 60%;
    background-repeat: no-repeat; }
