.site-header {
  &__logo {
    display: block;
    width: 100%;
    padding: 20px;
    max-height: 220px;
    margin: 0 auto;

    @media (min-width: 480px) {
      position: relative;
      left: percentage(-50px / 1024px);
    }
  }

}
