.site-header {
  width: 100%;

  &__logo {
    display: block;
    height: 220px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    left: percentage(-50px / 1024px);
  }

  &__background {
    display: block;
    width: 100%;
    padding-top: 60%;
    background-repeat: no-repeat;
  }

}
