#home.page {

  .section {
    &__title {
      text-align: center;
    }

    &__content {
      padding: 0 20px;
    }
  }

  #mission.section {
    .section__background {
      background-image: url(img/home-mission-background.jpg);
      background-repeat: no-repeat;
      background-position: percentage(130px / 320px) 70%;
      background-size: 600px auto;
      height: 200px;
      width: 100%;
    }

    .section__title {
      color: #fff;
      text-align: center;
      line-height: 200px;
      margin-top: -200px;
      background: rgba(0,0,0,.2);
    }
  }

  #organ-donation.section {
  }
}
